resources/both/repos/
releases/
dist/
ceu-maker/ubuntu/docs/
ceu-maker/windows/docs/
ceu-maker/ubuntu/repos/
ceu-maker/windows/repos/
ceu-maker/ubuntu/run/c/
ceu-maker/windows/run/c/
ceu-maker/ubuntu/run/ceu.lua
ceu-maker/windows/run/ceu.lua
ceu-maker/ubuntu/examples/
ceu-maker/windows/examples/

*~
*.swp
